.DS_Store
react-app/node_modules
react-app/dist
react-app/*.tsbuildinfo
react-app/vite.config.js
react-app/vite.config.d.ts
patient-web-preview/node_modules
patient-web-preview/dist
patient-web-preview/*.tsbuildinfo
patient-mobile-h5/node_modules
patient-mobile-h5/dist
patient-mobile-h5/*.tsbuildinfo
platform-admin/node_modules
platform-admin/dist
platform-admin/.vite
platform-admin/*.tsbuildinfo
pages-out
